@font-face {
    font-family: 'Shree Devanagari 714';
    src: url('ShreeDev0714.eot');
    src: url('ShreeDev0714.eot?#iefix') format('embedded-opentype'),
        url('ShreeDev0714.woff2') format('woff2'),
        url('ShreeDev0714.woff') format('woff'),
        url('ShreeDev0714.ttf') format('truetype'),
        url('ShreeDev0714.svg#ShreeDev0714') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

