/*=============================================================
fonts
=============================================================*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@100;300;400;700;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600&display=swap');

/*=============================================================
html and body
color:#8473f3;
#8473f3 ;
#333;
font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;

=============================================================*/
body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.section-padding {
    padding: 90px 0;
}


h1 {
    font-size: 80px;
    line-height: 1;
}

h2 {
    font-size: 40px;
    line-height: 1.3;
}

h3 {
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: 1px;

}

h4 {
    font-size: 24px;
    line-height: 28px;

}

h5 {
    font-size: 18px;
    line-height: 16px;
}

h6 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600
}

p {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 0;

}

button {
    border: none;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn {
    white-space: inherit;
}



a {
    font-size: 15px;
    font-weight: 400;
    transition: all .3s ease;
}



a:hover,
a:active {
    outline: 0;
    text-decoration: none;
    color: #009e7f
}

a:focus {
    text-decoration: none;
    outline: 0;
}

:focus {
    outline: 0;
}


ul {
    margin: 0;
    list-style-type: none;
}


::placeholder {
    color: #404040;
}

::-moz-placeholder {
    color: #404040;

}

:-ms-input-placeholder {
    color: #404040;

}

::-webkit-input-placeholder {
    color: #404040;

}

/*============= styles ===================*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**/

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #363636;
}

a {
    display: block
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.container-warp {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto
}

.slider-area,
.add-pro-area {
    max-width: 1600px;
    margin: 0 auto
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top Header Start   ~~~~~~~~~~~~~~~~~~~~~*/

.top-header {
    background: #34A12A none repeat scroll 0 0;
}

.top-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu ul li a {
    color: #fff;
    font-size: 13px;
}

.top-menu ul li a:hover {
    color: #009e7f;
}

.top-menu ul li {
    border-right: 1px solid #fff;
    padding: 0 10px;
}

.top-user ul {
    align-items: center;
    display: flex;
}

.top-user ul li {
    cursor: pointer;
    margin-left: 20px;
    position: relative;
    padding: 16px 0;
}

.top-menu {
    padding: 10px 0;
}

.top-link a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.top-user ul li:first-child {
    margin-left: 0;
}

.top-menu li:last-child {
    border-right: medium none;
}

.top-user ul li.ad-cart::after {
    position: absolute;
    top: 3px;
    right: -10px;
    width: 18px;
    height: 18px;
    background: #8ebd36;
    content: "2";
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
}


/* 1. Ensure this sits above everything when visible */
.modal {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;

}

.modal.is-visible {
    visibility: visible;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.7);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 6em;
    max-width: 767px;
    background-color: #fff;
    transform: translate(-50%);
    left: 50%;
    width: 96%
}

.modal-transition {
    -webkit-transition: all 0.3s 0.12s;
    transition: all 0.3s 0.12s;
    border-radius: 5px;
    opacity: 0;
}

.modal.is-visible .modal-transition {
    opacity: 1;
    border-radius: 5px;
}

.modal-header,
.modal-content {
    padding: 1em;
    border-radius: 5px;
}

.modal-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
    border-bottom: 1px solid #e8e8e8;
}

.modal-header::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 78%;
    content: "";
    background: #000;
    transform: translateY(-50%);
}

.modal-close {
    position: absolute;
    top: -12px;
    right: -15px;
    color: #aaa;
    background: #1c3921;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #fff;
}

.modal-close:hover {
    color: #777;
}

.modal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
    margin-top: 0;
}

.modal-content > *:last-child {
    margin-bottom: 0;
}

.login-box-area {
    display: flex;
    justify-content: space-between;
}

.input-box {
    width: 100%;
}


.input-box input {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #828282;
}

.login-box {
    width: 44%;
}

button.log-in {
    padding: 14px 50px;
    margin: auto;
    display: block;
    margin-top: 30px;
    background: #34A12A;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase
}

button.log-in:hover,
button.sign-btn:hover {
    background: #1c3921;

}


.login-box a {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px
}

.login-box h2 {
    font-size: 30px;
    text-align: center;
    margin: 30px 0 20px;
    text-transform: uppercase;
    font-weight: 400;
}



.add-product {
    background: #fff none repeat scroll 0 0;
    padding: 20px;
    width: 290px;
    position: absolute;
    top: 68px;
    right: 0;
    z-index: 999999;
    border: 1px solid #c5c5c5;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease
}

.add-product:after {
    border-bottom: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    content: '';
    display: block;
    height: 14px;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    right: 7px;
    top: -9px;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 14px;
    transform: rotate(225deg);
    background: #fff;
}

.ad-cart:hover .add-product {
    top: 58px;
    opacity: 1;
    visibility: visible
}

.add-pd-img {
    margin-right: 10px;
    width: 50px;
}

.add-pd-img img {
    width: 100%;
}

.add-product-flex {
    align-items: center;
    display: flex;
    position: relative;
    position: relative;
    margin-bottom: 20px;
    cursor: auto
}




.add-pd-nane h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}

.add-pd-nane {
    padding-right: 20px;
}

.add-pd-nane p {
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px;
}

.add-pd-nane > p span {
    color: #c5c5c5;
    margin-right: 10px;
}

.pro-all-am {
    background: #c5c5c5;
    margin: 10px 0;
    padding: 5px 0;
    text-align: center;

}

.pro-all-am h6,
.pro-all-am h6 span {
    color: #000;
    font-weight: 600
}

.pro-all-am h6 span {
    margin-right: 5px;
    font-weight: 500
}

.view-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

button.theme-btn {
    padding: 10px;
    width: 48%;
    background: #388033;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #388033;
}

button.theme-btn:hover {
    background: #1c3921;
    border: 1px solid #1c3921;
}

button.theme-btn.checbtn {
    background: #1c3921;
    border: 1px solid #1c3921;
}

button.theme-btn.checbtn:hover {
    background: #388033;
    border: 1px solid #388033;
}

.close-btn {
    position: absolute;
    top: 23px;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 50%;
    cursor: pointer
}




@media only screen and (max-width:991px) {
    .modal-close {
        top: 4px;
        right: 4px;

    }
}

/*~~~~~~~~~~~ Src bar   ~~~~~~~~~~~*/
.openBtn button {
    background: transparent;
    border: transparent;
    padding: 0;
    font-size: 18px;
    cursor: pointer;
    color: #414b56;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background: #fff
}

div#myOverlay h5 {
    padding: 50px 30px 20px;
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 300
}

overlay-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    font-size: 30px;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 30px;
    font-size: 50px;
    border: none;
    float: left;
    width: 100%;
    background: white;
    border-bottom: 1px solid #e4e6e8;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

@media only screen and (max-width:991px) {
    .overlay input[type="text"] {
        font-size: 16px;
        padding: 15px;
    }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~ Top Header End   ~~~~~~~~~~~~~~~~~~~~~*/

/* ~**************** Menu-Area **************** ~ */

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.menu-area {
    position: relative
}

.main-menu {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid;
    border-bottom: 1px solid #000;
    width: 100%;
}

.main-menu ul li {
    position: relative;
    z-index: 9999;
}

.main-menu ul li a {
    display: block;
    font-size: 15px;
    padding: 17px;
    text-transform: uppercase;
    color: #000
}


.main-menu ul li a:hover {
    color: #009e7f;
}

/*=======  Sub menu =====*/

.main-menu .sub-menu-area {
    background: #fff none repeat scroll 0 0;
    left: 0;
    position: absolute;
    top: 58px;
    z-index: 99;
    padding: 5px 0 10px;
    opacity: 0;
    width: 215px !important;
    display: inherit;
    transition: all .3s ease;
    border-radius: 0 0 3px 3px;
    border: 1px solid #000;
    visibility: hidden;
}


.main-menu ul li:hover .sub-menu-area {
    top: 52px;
    opacity: 1;
    visibility: visible;
}

.main-menu ul li.sub-menu:hover a.menu_icon {
    color: #009e7f
}
.main-menu ul li.sub-menu:hover > a {
    color: #009e7f
}


.main-menu .sub-menu-area li a {
    padding: 6px 15px;
}


/*~~~~~~~~~Sub Menu Icon~~~~~~~~~~~~~~*/
.main-menu ul li .sub-menu-area:after {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    content: '';
    display: block;
    height: 10px;
    margin-top: 0;
    pointer-events: none;
    position: absolute;
    left: 22px;
    top: -11px;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-133deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 10px;
    background: #fff;
}
.sub-menu a.menu_icon {
    position: relative;
    top: 0;
    right: 0;
}

.main-menu .sub-menu a.menu_icon::after {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    content: '';
    display: block;
    height: 8px;
    position: absolute;
    top: 20px;
    right: -3px;
    width: 8px;
    background: #fff;
    transition: all .3s ease;
    cursor: pointer;
    background: transparent;
    pointer-events: none;
    transform:rotate(45deg);
}

.main-menu ul li:hover a.menu_icon::after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-bottom: 1px solid #009e7f;
    border-right: 1px solid #009e7f;
    top: 23px;
}

.mo-src,
.mo-socail,
.modal-toggle.pc-none {
    display: none;
}


/*       Mobile Menu       */
/*~~~~~~~~~Sub Menu Icon~~~~~~~~~~~~~~*/

@media only screen and (max-width:1199px) {
    .main-menu ul {
        justify-content: space-between;
        display: inherit;

    }
}

@media only screen and (max-width:991px) {

    header.header-area {
        position: relative;
        z-index: 99999;
    }

    .top-link {
        text-align: center;
        margin: auto;
        padding: 4px 0;
    }

    .top-link a {
        font-size: 12px;
    }

    .top-user ul li.ad-cart span img {
        filter: invert(100%) contrast(420%);
    }

    .modal-toggle.pc-none img {
        filter: invert(100%) contrast(50%);
        margin-right: 10px;
    }

    li.openBtn {
        display: none;
    }

    li.modal-toggle {
        display: none;
    }

    .top-menu {
        display: none;
    }

    .top-user {
        position: absolute;
        right: 20px;
        top: 32px;
        z-index: 99999;
    }

    .ad-cart:hover .add-product {
        top: 61px;
    }

    li.modal-toggle.pc-none {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        padding: 20px 15px;
    }

    .logo {
        position: inherit;
        text-align: center;
        transform: inherit;
    }

    .logo a {
        display: inline-block;
    }

    .logo img {
        width: 60px
    }

    .mo-src,
    .mo-socail,
    .modal-toggle.pc-none {
        display: block;
    }

    .mobile-menu {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        transition: all .3s ease
    }

    .activemenu .mobile-menu {
        left: 300px !important;
        top: -6px
    }

    .bar1,
    .bar2,
    .bar3 {
        background-color: #1c3921;
        height: 2px;
        margin: 5px 0;
        transition: all 0.4s ease 0s;
        width: 28px;
    }

    .activemenu .bar1,
    .activemenu .bar2,
    .activemenu .bar3 {
        background-color: #fff;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .close-menu .bar1 {
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .close-menu .bar2 {
        opacity: 0;
    }

    .close-menu .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .menu_overlay.closs-overlay {
        background: #47484b none repeat scroll 0 0;
        height: 100vh;
        position: absolute;
        transition: all 0.4s ease 0s;
        width: 100%;
        z-index: -1;
    }

    .main-menu {
        background: #fff none repeat scroll 0 0;
        border-radius: 0;
        height: 100vh;
        overflow-y: scroll;
        position: absolute;
        left: -100%;
        top: -26px;
        width: 300px;
        transition: all .4s ease;
        padding-bottom: 30px;
        display: inherit;
        z-index: 999999
    }

    .main-menu ul {
        display: inherit;
        border-bottom: 0;
        padding-top: 20px
    }

    .main-menu ul li {
        display: block
    }

    .activemenu .main-menu {
        left: 0;
    }



    .main-menu ul li a {
        font-size: 18px;
        margin: 1px 0;
        padding: 24px 15px;
        border-bottom: 1px solid #ededed;
    }

    .main-menu ul li.spass {
        display: none;
    }

    /*   ========================= Sub Menu   ========================= */
 .main-menu .sub-menu-area {
        background: transparent;
        border: 1px solid transparent;
        left: 0;
        opacity: 1;
        padding: 0 10px;
        position: inherit;
        text-align: center;
        top: 0;
        transform: inherit;
        visibility: visible;
        width: 100% !important;
        display: none;
        text-align: left;
        transition: inherit;
    }

    .main-menu ul li:hover .sub-menu-area {
        top: 0;
    }



    body.activemenu {
        overflow: hidden;
    }

.main-menu ul li.sub-menu.active a.menu_icon {
    color: #009e7f !important;
}

    .main-menu ul li.sub-menu:hover a.menu_icon {
        color: inherit;
    
    }
.sub-menu span.menu_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 50px;
}

  .main-menu .sub-menu a.menu_icon::after {
    height: 12px;
    top: 20px;
    right: 30px;
    width: 12px;
    pointer-events: all !important;

}
.main-menu ul li:hover a.menu_icon::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    top: 23px;
}
.main-menu ul li.sub-menu.active a.menu_icon::after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    border-bottom: 1px solid #009e7f;
    border-right: 1px solid #009e7f;
    top: 28px;
}


    li.sub-menu.active {
        background: #ededed;
    }



    .mo-src {
        margin: 30px 15px;
        position: relative;
    }

    .mo-src input {
        padding: 10px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid #1c3921;
        font-size: 14px;
    }

    button.mo-src-btn {
        position: absolute;
        right: 0;
        background: #1c3921;
        padding: 6px 10px;
        display: inline-block;
        border-radius: 0 3px 3px 0;
    }

    .mo-socail {
        padding: 30px 15px 15px;
        display: flex;
        align-items: center;
    }

    .mo-socail a {
        margin-right: 20px;
    }

    .modal-wrapper {
        top: 10px;

    }

    .main-menu ul li .sub-menu-area:after {
  display: none
}
    .main-menu ul li.sub-menu.active > a {
  color: #009e7f;
}
}

/*    ========================= Sub Menu   ========================= */
/*~ *************** Menu Area End *************** ~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~ Meu Area End   ~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~ Slider-Area End  ~~~~~~~~~~~~~~~~~~~~~*/
.sliter-item {
    background-position:top;
    background-repeat: no-repeat;
    height: 86vh;
    margin-bottom: 100px;
}


.slider-bg-1 {
    background-image: url("../image/slider-bg.png");
    background-position: top;
    background-repeat: no-repeat;
}

.slide-content-area {
    margin: auto;
    max-width: 700px;
    text-align: center;
    padding-top: 40px
}

.slide-content h2 {
    font-size: 40px;
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    position: relative;
}

.slide-content h2::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 60px;
    content: "";
    background: #fff
}

.slide-content h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0 5px;
}

.slide-content p {
    font-size: 20px;
    color: #fff;
    font-family: 'Lora', serif;
    font-style: italic;
}

.slide-img {
    margin-top: 15px;
}

.owl-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 50%;
    max-width: 1200px;
    position: absolute;
    top: 40%;
    transform: translate(-50%);
    width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    content: '';
    display: block;
    height: 25px;
    margin-top: 5px;
    /* pointer-events: none; */
    position: absolute;
    left: 10px;
    top: -9px;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 25px;
    transform: rotate(136deg);
}

.owl-carousel .owl-nav button.owl-next {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    content: '';
    display: block;
    height: 25px;
    margin-top: 5px;
    /* pointer-events: none; */
    position: absolute;
    right: 18px;
    top: -9px;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 25px;
    transform: rotate(-45deg);
}
@media only screen and (min-width: 1667px) and (max-width: 2560px) {
  .slider-area .owl-nav {
    top: 28%;
}  
}
@media only screen and (max-width:1666px) {
    .sliter-item {
    height: 70vh;
    margin-bottom: 100px;
}
    .slide-content h2 {
    font-size: 24px;
}
    .slide-content h1 {
    font-size: 36px;
}
.slide-content p {
    font-size: 14px;
}
    .slide-img {
    max-width: 350px;
    margin: 10px auto 0;
}
    
    }
@media only screen and (max-width:1024px) {
    .sliter-item {
     display: inherit;
    height: 510px;
    margin-bottom: 50px;
    }

}

@media only screen and (max-width:767px) {
    .slider-bg-1 {
        height: inherit;
        margin-bottom: 0;
    }

    .slide-img {
        padding: 0 50px;
    }

    .slide-content h2::after {
        height: 2px;

    }

    .slide-content h2 {
        font-size: 30px;
    }

    .slide-content h1 {
        font-size: 40px;
        margin: 10px 0 5px;
    }

    .slide-content p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 425px) {
    .slider-bg-1 {
    background-position: center;
}
    .slide-content p {
        font-size: 12px;
    }

    .slide-content h1 {
        font-size: 30px;
    }

    .owl-carousel .owl-nav button.owl-prev {
        height: 15px;
        width: 15px;
        left: 0;
    }

    .owl-carousel .owl-nav button.owl-next {
        height: 15px;
        width: 15px;
        right: 50px;

    }


}

@media only screen and (max-width: 320px) {
    .slide-content p {
        font-size: 10px;
    }


}

/*~~~~~~~~~~~~~~~~~~~~~~~ Slider-Area End  ~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~ Add-Area Start  ~~~~~~~~~~~~~~~~~~~~~*/
.add-pro-items {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    grid-gap: 15px;
    padding: 0 30px;
}

.add-pro-item {
    display: grid;
    transition: 0.5s;
    position: relative;
    margin-top: 10px;
}

.add-pro-contnt img {
    width: 100%;
}

.add-pro-contnt h4 {
    position: absolute;
    top: 42%;
    left: 30px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

.add-pro-contnt h4 img {
    width: 24px;
    margin-left: 5px
}


@media only screen and (max-width:1199px) {
    .add-pro-items {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        padding: 0 15px
    }
}

@media only screen and (max-width:991px) {
    .add-pro-items {
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    }

    .add-pro-contnt h4 {
        font-size: 15px;
    }

    .add-pro-contnt h4 img {
        width: 14px;
        margin-left: 5px;
    }
}

@media only screen and (max-width:767px) {
    .add-pro-items {
        grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));
    }

    .add-pro-contnt h4 {
        font-size: 20px;
    }

    .add-pro-contnt h4 img {
        width: 20px;
    }
}

@media only screen and (max-width:425px) {
    .add-pro-contnt h4 {
        font-size: 15px;
    }

    .add-pro-contnt h4 img {
        width: 14px;
        margin-left: 5px;
    }

    .add-pro-items {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~ Add-Area End  ~~~~~~~~~~~~~~~~~~~~~*/






/*~~~~~~~~~~~~~~~~~~~~~~~ Product Area Start  ~~~~~~~~~~~~~~~~~~~~~*/

.best-products {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    grid-gap: 40px;
}

.best-product {
    display: grid;
    transition: 0.5s;
    position: relative;
    border: 1px solid #828282;
    border-radius: 5px
}

.best-product:hover {
    border: 1px solid #009e7f;
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
}


a.best-pro-img {
    text-align: center;
    height: 290px;
    border-bottom: 1px solid #000;
    margin: 40px 20px 0;
    margin-top: 40px;
    position: relative
}



a.best-pro-img img,
.cbd-img img {
    /*
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
*/
    transition: all 1s ease
}

.cbd-img {
    overflow: hidden
}

.best-product:hover a.best-pro-img img,
.cbd-item:hover img {
    transform: scale(1.1);
}

.best-product h4.product-name {
    text-align: center;
    margin: 10px 0 12px;
    font-size: 17px;
    color: #000;
    text-transform: uppercase;
}

.best-product p a {
    color: #828282;
    font-size: 17px;
    font-weight: 400;
}

.best-product p {
    margin-left: 20px
}


.best-product p.bt-price {
    font-size: 22px;
    font-weight: 600;
    color: #1c3921;
    margin-top: 5px;
}

.best-product p.bt-price del {
    font-size: 17px;
    font-weight: 300;
    color: #5a5a5a;
    margin-left: 5px;
    display: inline-block;
}

.section-heading h2 {
    font-size: 40px;
    font-weight: 300;
}



.buy-now {
    border-top: 1px solid #828282;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    margin-top: 30px;
    background: #34A12A;
}

.buy-now a {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}


.buy-now a.buy-left span {
    border: 1px solid #75be79;
    display: inline-block;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 8px;
    height: 15px;
    width: 15px;
    padding: 0 4px;
    color: #ffffff
}

.buy-now a.buy-right span {
    border: 1px solid #e02734;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 8px;
    height: 15px;
    width: 15px;
    padding: 0 4px;
}

.sale {
    position: absolute;
    height: 50px;
    width: 50px;
    background: #1c3921;
    border-radius: 50%;
    right: 6px;
    top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sale p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-left: 0;
    font-weight: 300;
}


.best-product:hover p a {
    color: #009e7f;
}

.best-product:hover a.best-pro-img {
    border-bottom: 1px solid #009e7f;
}

.best-product:hover .buy-now {
    border-top: 1px solid #009e7f;
}

@media only screen and (max-width:1024px) {
    .best-products {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 20px;
    }

}

@media only screen and (max-width:425px) {
    .best-products {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 10px;
    }

    .best-product {
        text-align: center;
    }

    a.best-pro-img {
        margin-top: 10px;
        height: 190px;
        overflow: hidden;
        width: 114px;
        border-bottom: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    a.best-pro-img img {

        width: 100%;
    }

    .sale {
        height: 32px;
        width: 32px;

    }

    .best-product .sale p {
        font-size: 10px;
        margin-left: 0;
    }

    .buy-now {
        padding: 8px 5px;
        margin-top: 15px;
    }

    .buy-now a {
        font-size: 13px;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .buy-now a.buy-left span,
    .buy-now a.buy-right span {
        font-size: 8px;
        height: 12px;
        width: 12px;
        padding: 0px 0px;
    }

    .best-product p.bt-price {
        font-size: 15px;
        margin-top: 3px;
    }

    .best-product p {
        margin-left: 10px;
    }

    .best-product p a {
        font-size: 12px;
    }

    .best-product h4.product-name {
        margin: 10px 0 5px;
        font-size: 14px;
    }

    .best-product p.bt-price del {
        font-size: 14px;
        font-weight: 600;

    }

    .best-product:hover a.best-pro-img img,
    .cbd-item:hover img {
        transform: scale(10px);
    }
}

@media only screen and (max-width:400px) {
    a.best-pro-img {
        min-height: 240px;
    }
}

@media only screen and (max-width: 340px) {
    a.best-pro-img img {
        position: inherit;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~ Product Area Start  ~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~ signup Area Start  ~~~~~~~~~~~~~~~~~~~~~*/
.signup-area {
    background: #ededed;
    padding: 80px 0
}

.signup-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singup-cont h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.1;
    text-transform: uppercase;
}

.signup-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singup-form-items {
    display: flex;
    align-items: center;
}

.singup-cont h2 {
    font-size: 42px;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    color: #000;
    font-family: 'Lora', serif;
}

.singup-form-items {
    width: 100%;
}

.singup-form-items input {
    width: 100%;
    background: none;
    padding: 15px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase
}

.singup-form-items input:focus,
.input-box input:focus {
    border: 1px solid #388033;

}

.singup-area {
    width: 73%;
}

.singup-cont {
    width: 25%;
}



button.sign-btn {
    background: #34A12A;
    padding: 12px 40px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    width: 34%;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-weight: 400;
    letter-spacing: 1px
}


@media only screen and (max-width:1199px) {
    button.sign-btn {
        padding: 12px 30px;
    }
}

@media only screen and (max-width:991px) {
    .signup-flex {
        flex-wrap: wrap;
    }

    .singup-cont {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .singup-area {
        width: 100%;
    }
}

@media only screen and (max-width:767px) {
    .singup-form-items {
        display: inherit;
    }

    .singup-form-items input {
        margin-bottom: 20px;
    }

    button.sign-btn {
        margin: auto;
        display: block;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~ signup Area Start  ~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~ Cbd  Area Start  ~~~~~~~~~~~~~~~~~~~~~*/

.cbd-item {
    background: #f2f2f2;
    margin-top: 30px
}

.cbd-content h3 a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: #000;
}

.cbd-content p {
    font-size: 15px;
    margin: 10px 20px 20px 0;
}

a.read-btn {
    border-top: 1px solid #009e7f;
    border-bottom: 1px solid #009e7f;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    display: table;
    padding: 6px 10px;
    color: #009e7f;
    transition: all .3s ease;
    text-align: center;
    margin: auto;
}

.cbd-content {
    padding: 30px 40px 50px 40px;
}

a.read-btn:hover {
    border: 1px solid #1c3921;
    color: #1c3921;
    border-radius: 3px
}

.cbd-item:hover .cbd-content h3 a {
    color: #009e7f;
}


.owl-nav button.owl-prev {
    margin-left: -40px;
}

.owl-nav button.owl-next {
    margin-right: -40px;
}

.cbd-news-area .owl-nav {
    justify-content: space-between;
    top: 25%;

}

.owl-nav span {
    display: none;

}


.cbd-news-area .owl-carousel .owl-nav button.owl-prev {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

}

.cbd-news-area .owl-carousel .owl-nav button.owl-next {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

}


@media only screen and (max-width:1200px) {

    .owl-carousel .owl-nav button.owl-next {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        right: 50px
    }

    .owl-carousel .owl-nav button.owl-prev {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        left: 45px
    }

    .cbd-news-area .owl-carousel .owl-nav button.owl-prev {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;

    }

    .cbd-news-area .owl-carousel .owl-nav button.owl-next {
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;

    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~ Cbd  Area End  ~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~ organic-area  Area Start  ~~~~~~~~~~~~~~~~~~~~~*/
.organic-area {
    background: url(../image/bg-1.png);
    padding: 40px 0 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.organic-flex {
    display: flex;
    align-items: center
}

.organic-img {
    margin-right: 30px;
}

.organic-cont h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px
}

.organic-cont p {
    color: #fff;
    font-size: 16px;
}

@media only screen and (max-width:1024px) {
    .organic-flex {
        display: inherit;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width:425px) {
    button.sign-btn {
        width: 100%;

    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~ organic-area  Area End  ~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~ Footer  Area Start  ~~~~~~~~~~~~~~~~~~~~~*/
.footer-area {
    background: #ededed;
    padding: 50px 0;
}

.footer-area p {
    color: #808080;
    text-align: center;
    font-size: 14px
}

.top-menu.footer-menu ul li a {
    color: #808080;
    font-weight: 14px
}

.top-menu.footer-menu ul li a:hover {
    color: #009e7f
}

.top-menu.footer-menu {
    margin: 40px 0
}

.top-menu.footer-menu ul li {
    color: #808080;
    border-right: 1px solid #808080;

}

.top-menu.footer-menu ul li:last-child {
    border-right: 1px solid transparent;

}

.footer-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-socail {
    display: flex;
    align-items: center;
}


.footer-socail a {
    margin-right: 30px;
    display: block;
    line-height: 0;
}

.footer-socail a:hover {
    opacity: .7
}

.footer-copy {
    display: flex;
}

.footer-copy a {
    margin-left: 6px;
}







@media only screen and (max-width:991px) {
    .top-menu.footer-menu {
        display: block;
    }

    .footer-flex {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-copyright {
        margin-top: 20px;
        order: 1;
        width: 100%;
    }

    .top-menu.footer-menu ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .top-menu.footer-menu ul li {
        border-right: medium none;
        margin: 5px 0;
        width: 50%;
    }

    .footer-area p {
        font-size: 13px;
    }

    .footer-socail {
        display: flex;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width:991px) {
    .section-padding {
        padding: 50px 0;
    }

    .section-heading h2,
    .singup-cont h2,
    .organic-cont h2 {
        font-size: 30px;
    }

    .organic-cont {
        margin-top: 20px;
    }
}

@media only screen and (max-width:767px) {
    .login-box h2 {
        font-size: 24px;
    }

    .login-box-area {
        flex-wrap: wrap;
    }

    .login-box {
        width: 100%;
    }

    .modal-header::after {
        display: none
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~ Footer  Area End  ~~~~~~~~~~~~~~~~~~~~~*/
